.container-bg{
    background-color: #e6e6e6;
    width: 452px;
    margin: 0 auto;
}
.input{
    width: 100%;

}
.btn_style{
    width: 85px;
    background-color: #ffffff7c;
}

.result_btn{
    width: 85px;
    background-color: #c2daff;
}